{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="display-4 text-center my-4">
        Myntra Virtual Trial: Revolutionizing Fashion with Virtual Try-Ons
      </h2>
      <hr />
      <p class="lead">
        Welcome to Myntra Virtual Trial, your go-to destination for an immersive
        and interactive fashion experience. At Myntra Virtual Trial, we blend
        cutting-edge technology with the world of fashion to provide you with a
        seamless virtual try-on experience. Whether you’re looking to refresh
        your wardrobe or just have fun experimenting with different styles,
        Teddy's Trends has got you covered.
      </p>
      <p>
        <strong>How It Works:</strong>
      </p>
      <p>
        1. <strong>Upload Your Picture:</strong> Start by uploading a clear
        picture of yourself. Our advanced algorithms ensure a perfect fit and
        realistic visualization.
      </p>
      <p>
        2. <strong>Choose Any Outfit:</strong> Browse our extensive catalog or
        upload a picture of any outfit you wish to try on. Whether it’s a dress
        from your favorite celebrity’s latest look or a jacket you spotted
        online, if you have the picture, you can try it on.
      </p>
      <p>
        3. <strong>Virtual Try-On:</strong> Our sophisticated virtual try-on
        technology maps the chosen outfit onto your picture, giving you a
        realistic preview of how you would look in it. Adjustments for size,
        angle, and fit ensure a seamless experience.
      </p>
      <p>
        4. <strong>Explore and Share:</strong> Experiment with different styles,
        mix and match outfits, and share your virtual looks with friends and
        family on social media directly from our platform.
      </p>
      <p>
        <strong>Why Choose Myntra Virtual Trial?</strong>
      </p>
      <p>
        - <strong>User-Friendly Interface:</strong> Our intuitive design makes
        it easy for anyone to use the virtual try-on feature.
      </p>
      <p>
        - <strong>Advanced Technology:</strong> Leveraging the latest in image
        processing and AI, we provide high-quality, realistic visualizations.
      </p>
      <p>
        - <strong>Endless Possibilities:</strong> With the ability to try on any
        outfit from any image, your fashion exploration is limitless.
      </p>
      <p>
        - <strong>Fun and Convenient:</strong> Enjoy the fun of trying on
        clothes without the hassle of fitting rooms or store visits.
      </p>
      <p>
        Experience the future of fashion with Myntra Virtual Trial, where trying
        on clothes is just a click away. Join our community of fashion
        enthusiasts and start your virtual try-on journey today!
      </p>
    </div>
  </div>
</div>

{% endblock %}
