{% extends "base.html" %} {% block style %}
<style type="text/css">
  .box-img {
    max-height: 300px;
    max-width: 300px;
  }
</style>
{% endblock %} {% block content %}

<section class="m-3">
  <section>
    <h2 class="display-4">Myntra Virtual Trial: Guidelines</h2>
    <p class="lead">
      Get the best out of Myntra Virtual Trial with these guidelines.
    </p>
  </section>
  <hr />
  <section>
    <div class="row p-3">
      <div class="col">
        <h2>Profile Image</h2>
        <ul>
          <li class="lead">
            Use a half-body image of yourself in a normal pose.
          </li>
          <li class="lead">Ensure the image contains only one person.</li>
          <li class="lead">
            For best results, wear top tanks or short sleeve clothes in your
            profile image. This allows for trying on various upper wear items
            effectively.
          </li>
        </ul>
      </div>
    </div>

    <div class="row p-3">
      <div class="col">
        <h2>Source Image</h2>
        <ul>
          <li class="lead">
            Choose an image that clearly shows the clothing item you want to try
            on.
          </li>
          <li class="lead">
            Ideally, the source image should feature a person wearing the
            clothing item.
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>

{% endblock %}
